<div class="horoscope">
  <%= @prediction %>.
  <p>
    <a href="/">Try again</a>
  </p>
  <form method="post" action="tweet">
    <input type="hidden" name="status_text" value="<%=@prediction%>">
    <button type="submit">Tweet!</button>
</form>
</div>
